<!DOCTYPE html>
<html>
<head>
  <title>Sture</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to image_tag( asset_url("fb.png"), class: "facebook" ), "https://www.facebook.com/sturemx?fref=ts" %>
		<%= link_to image_tag( asset_url("tw.png"), class: "twitter" ), "https://twitter.com/sturemx" %>
	</header>

<%= yield %>

</body>
</html>
